@model IEnumerable<WebAppAssess.Models.Student>

@{
    ViewData["Title"] = "Display";
}
<h3>Number Of Students:@ViewBag.message</h3>

<h1>Display</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr  class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.SId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr  class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.SId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SContact)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
